services:
  auth-service:
    build: ./auth-service
    ports:
      - "8080:8080"
    
  product-service:
    build: ./product-service
    ports:
      - "8081:8080"

  checkout-service:
    build: ./checkout-service
    ports:
      - "8082:8080"
    depends_on:
      - auth-service